<li class="map"><a href="#/channels/<%= name %>"><i class="icon-globe icon-white"></i> Map</a></li>
<li class="messages"><a href="#/channels/<%= name %>/messages"><i class="icon-comment icon-white"></i> Messages</a></li>
<li class="members"><a href="#/channels/<%= name %>/members"><i class="icon-info-sign icon-white"></i> Members</a></li>
