<li class="divider-vertical"></li>
<li class="chat"><a href="#/channels/<%= name %>"><i class="icon-comment icon-white"></i> Chat</a></li>
<li class="map"><a href="#/channels/<%= name %>/map"><i class="icon-globe icon-white"></i> Map</a></li>
<li class="info"><a href="#/channels/<%= name %>/info"><i class="icon-info-sign icon-white"></i> Info</a></li>
