<a href="#/channels/<%= name %>" class="channel-name">
  <i class="icon-comments"></i> <%= name %>
</a>
<div class="pull-right">
  <a href="#/channels/<%= id %>/destroy" class="destroy">
    <i class="icon-trash"></i>
  </a>
</div>
