<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">
        Channels
      </li>
      <li class="active">
        <a href="#/">
          <i class="icon-globe"></i>
          Index
        </a>
      </li>
      <li>
        <a href="#/new">
          <i class="icon-asterisk"></i>
          New
        </a>
      </li>
    </ul>
  </div><!--/.well -->
</div>
<div class="span9">
  <h1>Recent Channels</h1>
  <ul id="channels" class="empty">
    <li class="message">Nothing here right now. Create a new channel!</li>
  </ul>
</div>
