<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">
        Channels
      </li>
      <li class="active">
        <a href="#/">
          <i class="icon-globe"></i>
          Index
        </a>
      </li>
      <li>
        <a href="#/new">
          <i class="icon-asterisk"></i>
          New
        </a>
      </li>
    </ul>
  </div><!--/.well -->
</div>
<div class="span9">
  <table id="channels" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>options</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
