<h1>New channel</h1>

<form id="new-channel" name="channel">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" class="btn btn-primary" value="Create" />
  </div>

</form>

<a href="#/index"><i class="icon-circle-arrow-left"></i> back</a>
