<div id="map"></div>
<div id="chat">
  <div id="messages"></div>
  <div id="sender" class="input-append">
    <input class="span11" type="text"><button class="btn btn-primary" id="send" type="button"><i class="icon-share-alt icon-white"></i> Send</button>
  </div>
</div>
