<div id="map"></div>
<div id="messages">
  <ul class="content empty">
    <li>No messages yet. Say something smart!</li>
  </ul>
  <div id="sender" class="input-append">
    <input id="text" type="text"><button class="btn btn-primary" id="send" type="button"><i class="icon-share-alt icon-white"></i> Send</button>
  </div>
</div>
<div id="members">
  <ul class="content"></div>
</div>
