<div id="map"></div>
<div id="chat">
  <div id="messages"></div>
  <div id="sender" class="input-append">
    <input class="span2" size="16" type="text"><button class="btn btn-inverse" id="send" type="button">Send</button>
  </div>
</div>
