<div id="map"></div>
<div id="messages">
  <div id="sender" class="group">
    <textarea class="input-xlarge" id="textarea" rows="3" placeholder="Compose a new message..."></textarea>
  </div>
  <ul class="content empty">
    <li>No messages yet. Say something smart!</li>
  </ul>
</div>
<div id="members">
  <ul class="content"></div>
</div>
