<div id="main" class="container">
  <div class="hero-unit">
    <h1>Geochat</h1>
    <p><span class="tagline">Real-time, location-aware chat</span></p>
    <a href="/auth/twitter" class="btn btn-primary sign-in"><i class="icon-twitter"></i> Sign in with <strong>Twitter</strong></a>
  </div>

  <section id="what">
    <div class="row">
      <div class="span4">
        <h2><i class="icon-comment"></i> Chat smarter</h2>
        <p>
          When you enter a channel, you automatically share your location
          and get everyone else's location too, so everyone knows where everyone
          else is without anyone having to ask.
        </p>
      </div>
      <div class="span4">
        <h2><i class="icon-globe"></i> Get geolocated</h2>
        <p>
          Sign in to Geochat with any modern browser like
          <a href="http://www.google.com/chrome">Chrome</a>,
          <a href="http://www.mozilla.org/firefox">Firefox</a>, or
          <a href="http://www.apple.com/safari/">Safari</a>, and you'll be
          chatting with people around the globe in no time.
          <a href="http://www.apple.com/iphone/">iPhone</a> &amp;
          <a href="http://www.android.com/devices/">Android</a> support coming soon.
        </p>
      </div>
      <div class="span4">
        <h2><i class="icon-twitter"></i> Simple and free</h2>
        <p>
          All you need to try out Geochat is a
          <a href="https://twitter.com/">Twitter</a> account!
          No forms, no new passwords, no emails, just log in and connect with
          anyone in the twitterverse in under a minute!
        </p>
      </div>
    </div>
  </section>

  <section id="why">
    <div class="section-header">
      <h2>Why</h2>
    </div>
    <div class="row">
      <div class="span4">
        <h2><i class="icon-beaker"></i> Knowledge!</h2>
        <p>This is an experiment to see how geolocation and WebSockets
        work together and to work with as many different languages,
        libraries and services as possible within a given timeframe.</p>
      </div>
      <div class="span4">
        <h2><i class="icon-star"></i> Fun!</h2>
        <p>This was built because I like building things and hope to offer
        something that people will have fun using. It's also an attempt to
        bring the digital world closer to the real world.</p>
      </div>
      <div class="span4">
        <h2><i class="icon-money"></i> Profit!</h2>
        <p>Not really though. Geochat's source code has been released as open
        source software under an MIT license.
        <a href="http://github.com/ngoldman/geochat">Fork this project on
        GitHub</a> and contribute today!</p>
      </div>
    </div>
  </section>

  <section id="how">
    <div class="section-header">
      <h2>How</h2>
    </div>

    <div class="row">
      <div class="span3">
        <h4><a href="http://www.pusher.com">Pusher</a></h4>
        <p>Geochat uses Pusher for real-time push notifications, enabling real-time chat and geolocation for all modern devices.</p>
      </div>
      <div class="span3">
        <h4><a href="http://dev.w3.org/geo/api/spec-source.html">Geolocation</a></h4>
        <p>Geochat takes full advantage of the advances made by adoption of the W3C Geolocation
        API among modern browsers and devices.</p>
      </div>
      <div class="span3">
        <h4><a href="http://backbonejs.org/">Backbone.js</a></h4>
        <p>Backbone.js is an excellent, lightweight MVC JavaScript framework for building highly efficient and interactive web applications.</p>
      </div>
      <div class="span3">
        <h4><a href="http://rubyonrails.org/">Rails</a></h4>
        <p>Node.js is cool, but Rails is stable. The first release of Geochat is built on Ruby on Rails to ensure a working product for every user.</p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <h4><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></h4>
        <p>Twitter's front end development team has given developers an incredible gift in the form of Bootstrap, a very handy front end toolkit.</p>
      </div>
      <div class="span3">
        <h4><a href="http://coffeescript.org/">CoffeeScript</a></h4>
        <p>CoffeeScript is the JavaScript you deserve. It's a beautiful language with an improved syntax that transcompiles to JS quite nicely.</p>
      </div>
      <div class="span3">
        <h4><a href="http://sass-lang.com/">SASS</a></h4>
        <p>SASS is the grown-up version of CSS, providing features like variables, nesting, mixins and selector inheritance.</p>
      </div>
      <div class="span3">
        <h4><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></h4>
        <p>All icons are provided by the very awesome and free icon library Font Awesome built specifically for Bootstrap.</p>
      </div>
    </div>
  </section>

  <section id="who">
    <div class="section-header">
      <h2>Who</h2>
    </div>
    <p><a href="http://ngoldman.me">Nate Goldman</a> made this. Complain at me on GitHub <a href="http://github.com/ngoldman">here</a>, or tweet at me <a href="http://twitter.com/n8ji">here</a>, if that's what you're into.</p>
    <p><a href="http://www.chuckvose.com/">Chuck Vose</a> helped a lot with advice and guidance too.</p>
  </section>
</div>
