<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Geochat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner light">
    <div class="container">

      <a href="/" class="brand">Geochat</a>

    </div>
  </div>
</div>


<div id="main" class="container-fluid">
  <div class="hero-unit">
    <h1>404</h1>
    <p>The page you're attempting to reach doesn't exist.</p>
    <button class="btn btn-primary" type="button" onclick="window.history.back();">Go Back</button>
  </div>
</div>



</body>
</html>
