<h1>New message</h1>

<form id="new-message" name="message">
  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Message" />
  </div>

</form>

<a href="#/index">Back</a>