body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.navbar {
  height: 40px;
  z-index: 999;

  .divider-vertical {
    margin: 0;
    background-color: #06a;
    background-color: rgba(0,80,160,.6);
    border-right: 1px solid #2ad;
    border-right: 1px solid rgba(60,180,240,.6);
  }

  p.channel-name {
    display: block;
    float: left;
    padding: 8px 20px 12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
  }

  .session {
    .avatar {
      border-radius: 4px;
      height: 32px;
      width: 32px;
    }
  }
}

.navbar-fixed-top .container {
  width: auto;
  padding: 0 10px 0 15px;
}

$gradient-top: #3ae;
$gradient-bottom: #06a;

.navbar-inner {
  color: #fff;
  background-color: #3ae;
  background-image: -moz-linear-gradient(top, $gradient-top, $gradient-bottom);
  background-image: -ms-linear-gradient(top, $gradient-top, $gradient-bottom);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($gradient-top), to($gradient-bottom));
  background-image: -webkit-linear-gradient(top, $gradient-top, $gradient-bottom);
  background-image: -o-linear-gradient(top, $gradient-top, $gradient-bottom);
  background-image: linear-gradient(top, $gradient-top, $gradient-bottom);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='$gradient-top', endColorstr='$gradient-bottom', GradientType=0);
  -webkit-box-shadow: 0 1px 5px rgba(50, 50, 50, 0.5), inset 0 -1px 0 rgba(50, 50, 50, 0.1);
     -moz-box-shadow: 0 1px 5px rgba(50, 50, 50, 0.5), inset 0 -1px 0 rgba(50, 50, 50, 0.1);
          box-shadow: 0 1px 5px rgba(50, 50, 50, 0.5), inset 0 -1px 0 rgba(50, 50, 50, 0.1);

  .brand, .nav > li > a {
    color: #fff;
  }

  .nav.channel li.active {
    &.active > a, &.active > a:hover {
      color: white;
      text-decoration: none;
      background-color: #06a;
    }
  }
}

@media (max-width: 979px) {
  .navbar {
    position: relative;
  }
}
