body {
  padding-top: 60px;
}
.navbar {
  height: 40px;
  z-index: 999;
  .divider-vertical {
    background-color: #06a;
    background-color: rgba(0,80,160,.6);
    border-right: 1px solid #2ad;
    border-right: 1px solid rgba(60,180,240,.6);
    margin: 0;
  }
  p.channel-name {
    display: block;
    float: left;
    padding: 8px 20px 12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
  }
  .session {
    .avatar {
      border-radius: 4px;
      height: 32px;
      width: 32px;
    }
  }
}
.navbar-fixed-top .container {
  width: auto;
  padding: 0 10px 0 15px;
}

.navbar-inner {
  @include background-image(linear-gradient(#3ae, #06a));
  @include box-shadow(rgba(50, 50, 50, 0.5) 0 1px 5px, rgba(50, 50, 50, 0.1) inset 0 -1px 0);
  color: #fff;
  background-color: #3ae;
  background-repeat: repeat-x;
  .brand, .nav > li > a {
    color: #fff;
  }
  .nav.channel {
    li {
      &.active > a, &.active > a:hover {
        background-color: #06a;
        color: white;
        text-decoration: none;
      }
      &.notify > a {
        color: #fff199;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar {
    position: relative;
  }
}
