#sender {
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: 10px 0;
  margin: 10px;

  textarea {
    margin: 0 auto;
    display: block;
    height: 18px;
    resize: vertical;

    &:hover {
      border: 1px solid #999;
    }

    &:focus {
      border: 1px solid rgba(82, 168, 236, 0.796875);
      height: 75px;
    }
  }
}

@media (max-width: 767px) {
  #sender {
    background: none;
    border: none;
    padding: 0;
  }
}
