body.welcome {
  padding-top: 20px;
  h1 {
    padding-bottom: 5px;
  }
  .sign-in {
    background: transparent url(/assets/twitter_dark.png) 0 0 no-repeat;
    display: block;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 151px;
  }
  .hero-unit {
    background: url(/assets/welcome_bg.jpg) right top no-repeat;
    color: #fff;
  }
  section {
    padding-top: 40px;
    h4 {
      padding: 10px 0;
    }
    .row {
      margin-bottom: 15px;
    }
  }
  footer {
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    margin-top: 45px;
    overflow: hidden;
    padding: 35px 0 36px;
    p {
      margin-bottom: 0;
      color: #777;
    }
  }
}

@media (max-width: 979px) {
  body.welcome {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .welcome {
    h1 {
      font-size: 42px;
    }
  }
}

@media (max-width: 480px) {
  .welcome {
    .hero-unit {
      padding: 30px;
    }
    h1 {
      font-size: 32px;
      line-height: 1;
      word-wrap: break-word;
    }
  }
}
